[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
structlog = "*"
gunicorn = "*"
gevent = "*"
sdc-cryptography = "*"
google-cloud-pubsub = "==1.7.0"

[dev-packages]

[requires]
python_version = "3.9"
