[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
structlog = "*"
gunicorn = "*"
gevent = "*"
sdc-cryptography = "*"
google-cloud-pubsub = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.11"
